@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
/*html{
  scroll-behavior: smooth;
}*/
body{
  margin:0px 0px;
  font-family:fredericka the great,fantasy;
  min-width:320px;

  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x:hidden;

}
header{
  width:100%;
  height:600px;
  background-image: url(../img/backgrount_test.jpg);
  .header_text{
    font-family: AR DESTINE, "Alfa Slab One", Helvetica, sans-serif;
    color:#fff;
    font-size:50px;
    padding-top:0.5%;
  }
  .menu-item {
    padding-top:1%;
    a {
      font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 35px;
      color: #fff;
    }
  }
  .menu-item a:hover{
    color:#fff;
    cursor: pointer;
  }
  .head-title{
    font-family: AR DESTINE, "Alfa Slab One", Helvetica, sans-serif;
    color:#fff;
    font-size:80px;
    margin-top:7%;
  }
  .horizontal-line{
    width:100px;
    height: 5px;
    background: #fff;
    margin-left:45%;
  }
  .second-title{
    font-family: Calibri Light;
    color:#fff;
    font-size:35px;
  }
}
//------------------------------ Body ------------------------------
.wrapper{
  width:1000px;
  margin:0 auto;
}
a{
  text-decoration: none;

}

//------------------------------ Footer ------------------------------
footer{
  width:100%;
  height:200px;
  background-image: url(../img/footer_bckg.jpg);
  .footer_text{
    font-family: AR DESTINE,"Alfa Slab One", Helvetica, sans-serif;
    color:#fff;
    font-size:50px;
    padding-top:0.5%;
  }
}
.bottom{
  padding-top:1%;
}
.bottom-margin{
  padding-top:1.5%;
}
.facebook-icon i, .insta-icon i, .tlg-icon i, .lkd-icon i, .git-icon i, .google-icon i{
  font-size:45px;
  color:#fff;
}
.facebook-icon i:hover, .insta-icon i:hover, .tlg-icon i:hover, .lkd-icon i:hover, .git-icon i:hover, .google-icon i:hover{
  color:#708090;
}
.foot-line{
  font-family: Bahnschrift;
  font-size:20px;
  color:#fff;
}
//----------------------------------------------------- NAV MENU -----------------------------
.dropdown-menu-main{
  display:none;
}
 .link-to-up{
  font-size:70px;
  color:#BDBDBD;
  position:fixed;
  margin-left:90%;
  top:85%;
   z-index: 1;
}
.link-to-up:hover{
  color:#f00;
  cursor: pointer;
}
//----------------------------------------------------- About me -----------------------------

.zagl {
  margin-top:30px;
  font-family: Algerian, Barriecito, Calibri;
  font-size:45px;
  text-shadow: 5px 1px 4px #000;
}
.about-me{
  margin-top:20px;

}
.photo-me img{
  border:3px solid black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.text-me h3 {
  font-family: "Alfa Slab One", Helvetica, sans-serif;
  padding-top:20px;
}
/*.text-me{
  border:1px solid black;
}*/
.photo-me img{
  width:100%;
  height:600px;
}
.text-me{
    text-align:justify;
     padding:5px;
    .description{
    font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
      //font-family: Oswald, Helvetica, sans-serif !important;
      font-weight: bold;
      font-size:20px;
      color:#000;
    }
  h3{
    font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
    font-weight: bold;
  }
}
//----------------------------------------------------- MODAL FORM -----------------------------
.modal-window{
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  h4{
    font-family: "Alfa Slab One", Helvetica, sans-serif;
  }
  .submit{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: "ALGERIAN", "Alfa Slab One", Helvetica, sans-serif;;
    border: 3px solid black;
    border-radius: 5px;
  }
  .submit:hover{
    background:black;
    color:white;
  }
  .text-form{
    font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
    font-weight: bold;
    font-size:25px;
  }
  .text-form-2{
    font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
    font-weight: bold;
    font-size:18px;
    text-align: justify;
  }
  #body, #subj{
    border:2px solid black;
  }
}
#button-send{
  color:black;

  font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
  font-weight: bold;
  border:3px solid black;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#button-send:hover{
  background:black;
  color:white;
}
//--------------------------------------------------------------------------------------------------------
.just-list{
  color:rgb(0,0,0);
}
.quote-summary {
  background: #000;
  .quote {
    font-family: fredericka the great, fantasy, 'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
    font-weight: bold;
    font-size: 29px;
    color: #fff;
  }
}
.portfolio{
  background:#000;
  padding-top:30px;
  .zagl-2 {
    font-family: Algerian, Barriecito, Calibri;
    font-size:45px;
    text-shadow: 5px 1px 4px #fff;
    color:#fff;
  }
  .port-bckg {
      background:#DCDCDC;
     img{
      padding-top:20px;
    }
    .block-element{
      width:400px;
      height:450px;
      padding:10px;
      font-family: fredericka the great, fantasy, 'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
      font-weight: bold;
      font-size: 20px;
      color: #000;
      .invest-button{
        height: 40px;
        width:150px;
        border:3px solid black;
        margin:0 auto;
        border-radius:50px;
      }
      .invest-button:hover{
        cursor: pointer;
        background: #ff0;
      }
      a{
        text-decoration: none;
        color:#000;
      }
    }
    .block-element:hover{
      -webkit-box-shadow: 9px 9px 22px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 9px 9px 22px 0px rgba(0,0,0,0.75);
      box-shadow: 9px 9px 22px 0px rgba(0,0,0,0.75);
    }
  }
}