@media only screen and (max-width:768px){
    /*------------------------------ Header ------------------------------*/
    .menu-item{
       display:none;
   }
    header .header_text{
        font-size:30px;
    }
    .dropdown-menu-main{
        width:70px;
        display:inline-block;
    }
    .dropdown-menu{
        width:425px;
        height:330px;
        font-size:50px;
        font-family: fredericka the great, fantasy;
        margin-left:-250px;
    }
    #left_margin{
        margin-left:35%;
    }
    .link-to-up{
        font-size:70px;
        color:#BDBDBD;
        position:fixed;
        margin-left:80%;
        top:80%;

    }
/*------------------------------ Footer ------------------------------*/
    footer{
        height: 480px;
    }
    /*------------------------------ Footer ------------------------------*/
}
@media only screen and (min-width:743px)  and (max-width:767px) {
    .dropdown-menu-main{
        top:5px;
        left:400px;
    }
}
@media only screen and (min-width:767px)  and (max-width:1023px){



    .dropdown-menu{
       margin-left:5px;

    }

}
@media only screen and (min-width:576px)  and (max-width:768px){
    footer{
        height: 200px;
    }

}
/*------------------------------ Header ------------------------------*/
@media only screen and (max-width:376px){

    .dropdown-menu{
        width:375px;
        height:330px;

    }
}
@media only screen and (max-width:321px){

    .dropdown-menu{
        width:320px;
        height:330px;
        margin-left:-200px;
    }
}
@media only screen and (min-width:375px) and (max-width: 426px){
    .dropdown-menu-main{
        margin-left:15%;
    }

}
@media only screen and (min-width:993px){

    .text-me{
       margin-left:-15%;

    }
}
@media only screen and (max-width:426px) {
    .photo-me img{
        width:85%;
        height:450px;
    }
    #button-send{
        margin-left: 0;
        width:90%;
    }
    
}
@media only screen and (min-width:426px) and (max-width: 743px) {
    .dropdown-menu{
        width:320px;
        height:330px;
        margin-left:0px;
    }

}