@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barriecito&display=swap");
/*html{
  scroll-behavior: smooth;
}*/
body {
  margin: 0px 0px;
  font-family: fredericka the great,fantasy;
  min-width: 320px;
  background: #D3CCE3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden; }

header {
  width: 100%;
  height: 600px;
  background-image: url(../img/backgrount_test.jpg); }
  header .header_text {
    font-family: AR DESTINE, "Alfa Slab One", Helvetica, sans-serif;
    color: #fff;
    font-size: 50px;
    padding-top: 0.5%; }
  header .menu-item {
    padding-top: 1%; }
    header .menu-item a {
      font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 35px;
      color: #fff; }
  header .menu-item a:hover {
    color: #fff;
    cursor: pointer; }
  header .head-title {
    font-family: AR DESTINE, "Alfa Slab One", Helvetica, sans-serif;
    color: #fff;
    font-size: 80px;
    margin-top: 7%; }
  header .horizontal-line {
    width: 100px;
    height: 5px;
    background: #fff;
    margin-left: 45%; }
  header .second-title {
    font-family: Calibri Light;
    color: #fff;
    font-size: 35px; }

.wrapper {
  width: 1000px;
  margin: 0 auto; }

a {
  text-decoration: none; }

footer {
  width: 100%;
  height: 200px;
  background-image: url(../img/footer_bckg.jpg); }
  footer .footer_text {
    font-family: AR DESTINE,"Alfa Slab One", Helvetica, sans-serif;
    color: #fff;
    font-size: 50px;
    padding-top: 0.5%; }

.bottom {
  padding-top: 1%; }

.bottom-margin {
  padding-top: 1.5%; }

.facebook-icon i, .insta-icon i, .tlg-icon i, .lkd-icon i, .git-icon i, .google-icon i {
  font-size: 45px;
  color: #fff; }

.facebook-icon i:hover, .insta-icon i:hover, .tlg-icon i:hover, .lkd-icon i:hover, .git-icon i:hover, .google-icon i:hover {
  color: #708090; }

.foot-line {
  font-family: Bahnschrift;
  font-size: 20px;
  color: #fff; }

.dropdown-menu-main {
  display: none; }

.link-to-up {
  font-size: 70px;
  color: #BDBDBD;
  position: fixed;
  margin-left: 90%;
  top: 85%;
  z-index: 1; }

.link-to-up:hover {
  color: #f00;
  cursor: pointer; }

.zagl {
  margin-top: 30px;
  font-family: Algerian, Barriecito, Calibri;
  font-size: 45px;
  text-shadow: 5px 1px 4px #000; }

.about-me {
  margin-top: 20px; }

.photo-me img {
  border: 3px solid black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.text-me h3 {
  font-family: "Alfa Slab One", Helvetica, sans-serif;
  padding-top: 20px; }

/*.text-me{
  border:1px solid black;
}*/
.photo-me img {
  width: 100%;
  height: 600px; }

.text-me {
  text-align: justify;
  padding: 5px; }
  .text-me .description {
    font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
    font-weight: bold;
    font-size: 20px;
    color: #000; }
  .text-me h3 {
    font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
    font-weight: bold; }

.modal-window {
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .modal-window h4 {
    font-family: "Alfa Slab One", Helvetica, sans-serif; }
  .modal-window .submit {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: "ALGERIAN", "Alfa Slab One", Helvetica, sans-serif;
    border: 3px solid black;
    border-radius: 5px; }
  .modal-window .submit:hover {
    background: black;
    color: white; }
  .modal-window .text-form {
    font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
    font-weight: bold;
    font-size: 25px; }
  .modal-window .text-form-2 {
    font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
    font-weight: bold;
    font-size: 18px;
    text-align: justify; }
  .modal-window #body, .modal-window #subj {
    border: 2px solid black; }

#button-send {
  color: black;
  font-family: fredericka the great, fantasy,'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
  font-weight: bold;
  border: 3px solid black;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#button-send:hover {
  background: black;
  color: white; }

.just-list {
  color: black; }

.quote-summary {
  background: #000; }
  .quote-summary .quote {
    font-family: fredericka the great, fantasy, 'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
    font-weight: bold;
    font-size: 29px;
    color: #fff; }

.portfolio {
  background: #000;
  padding-top: 30px; }
  .portfolio .zagl-2 {
    font-family: Algerian, Barriecito, Calibri;
    font-size: 45px;
    text-shadow: 5px 1px 4px #fff;
    color: #fff; }
  .portfolio .port-bckg {
    background: #DCDCDC; }
    .portfolio .port-bckg img {
      padding-top: 20px; }
    .portfolio .port-bckg .block-element {
      width: 400px;
      height: 480px;
      padding: 10px;
      font-family: fredericka the great, fantasy, 'Open Sans', 'Helvetica Neue', Barriecito, Calibri;
      font-weight: bold;
      font-size: 20px;
      color: #000; }
      .portfolio .port-bckg .block-element .invest-button {
        height: 40px;
        width: 150px;
        border: 3px solid black;
        margin: 0 auto;
        border-radius: 50px; }
      .portfolio .port-bckg .block-element .invest-button:hover {
        cursor: pointer;
        background: #ff0; }
      .portfolio .port-bckg .block-element a {
        text-decoration: none;
        color: #000; }
    .portfolio .port-bckg .block-element:hover {
      -webkit-box-shadow: 9px 9px 22px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 9px 9px 22px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 9px 9px 22px 0px rgba(0, 0, 0, 0.75); }

.bottom-row {
  margin-top: -30px; }

.see-more {
  height: 100px;
  width: 100%;
  padding-top: 30px;
  background: #000;
  font-family: Barriecito, "Alfa Slab One", Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  color: #fff; }
  .see-more a {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
