@media only screen and (min-width:1024px){
    .nav_panel{
        width:40%;
    }
}
@media only screen and (min-width:1366px){
    .white-line{
        width:100%;
        height: 50px;
        background:#fff;
    }
}

@media only screen and (min-width:1024px) and (max-width:1365px){
    .information{
        display:flex;
        flex-direction:row;
        align-items: center;;
        justify-content: space-between;
        width:100%;
        height:350px;
        background: #45b781;
        margin-top:46%;
    }
    .block-1,.block-2,.block-3,.block-4{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        height:300px;
        margin-top:10px;
    }
    .block-1-img,.block-2-img,.block-3-img,.block-4-img{
        margin-left:20%;
        margin-bottom: -10%;
        padding:-20%;
    }
    .block-1-text,.block-2-text,.block-3-text,.block-4-text{
        width:200px;
        font-family: 'Calibri';
        font-size:12px;
        color:#fff;;
        text-align: justify;
        padding:-20%;
    }
    /*-------------------------------------------------------------*/
    .white-line{
        width:100%;
        height: 50px;
        background:#fff;
    }
    .grey-line{
        width:100%;
        height: 300px;
        background:#f3f3f3;
    }
    .blue-block{
        display:flex;
        flex-direction:row;
        align-items: center;;
        justify-content: space-between;;
        width:100%;
        height: 380px;
        background:#6087b4;
    }
    .images{
        display:flex;
        flex-direction:row;
        width:100%;
        height: 400px;
        margin-top:-30%;
        
        justify-content: center;
    }
    .join{
        display:flex;
        flex-direction:row;
        align-items: center;;
        width:100%;
        margin-top:2%;
        justify-content: center;
        font-family: 'Bahnschrift Light', 'Calibri';
        font-size:55px;
        color:#fff;
    }
    .offering{
        display:flex;
        flex-direction:row;
        align-items: center;;
        width:100%;
        height:300px;
        margin-top:-5%;
        justify-content: space-between;
    }
    .offering-1,.offering-2,.offering-3{
        width:200px;
        font-family: 'Calibri';
        font-size:17px;
        color:#fff;
        text-align: center;
    }
}
@media only screen and (min-width:450px) and (max-width:1023px){
    .content{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        height: 500px;
    }
    .large_text{
        font-family: 'Arial Black', "Times New Roman";
        font-size:50px;
        color:#fff;
        margin-top:130px;
    }
    .content .button1{
        margin-top:150px;
        width:140px;
        height: 30px;
        text-align: center;
        background: #7ca5d9;
        color: #fff;
        font-family: 'Bahnschrift', 'Calibri';
        font-size:13px;
        border: none;
    }
    .content .inner-button{
        margin-top:10px;
    }
    .content a{
        text-decoration: none;
        color: #fff;
    }
    .content .button1:hover{
        cursor: pointer;
    }
    /*----------------------------------------------------------------*/
    .information{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: flex-start;
        width:100%;
        height:550px;
        margin-top:62%;
        background: #45b781;
    }
    .block-1,.block-2,.block-3,.block-4{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        height: 270px;
        margin-top:-10px;
        margin-left:8%;
    
    }
    .block-1:hover,.block-2:hover,.block-3:hover,.block-4:hover{
        border:3px dashed #fff;
        cursor:pointer;
        border-radius: 10%;
        
    }
    .block-1-img,.block-2-img,.block-3-img,.block-4-img{
        margin-left:22%;
    }
    .block-1-text,.block-2-text,.block-3-text,.block-4-text{
        width:250px;
        font-family: 'Calibri';
        font-size:15px;
        color:#fff;;
        text-align: justify;
    }
     /*-------------------------------------------------------------*/
     .white-line{
        width:100%;
        height: 50px;
        background:#fff;
    }
    .grey-line{
        width:100%;
        height: 300px;
        background:#f3f3f3;
    }
    .blue-block{
        display:flex;
        flex-direction:row;
        align-items: center;;
        justify-content: space-between;;
        width:100%;
        height: 380px;
        background:#6087b4;
    }
    .images{
        display:flex;
        flex-direction:row;
        width:100%;
        height: 400px;
        margin-top:-45%;
        
        justify-content: center;
    }
    .join{
        display:flex;
        flex-direction:row;
        align-items: center;;
        width:100%;
        margin-top:2%;
        justify-content: center;
        font-family: 'Bahnschrift Light', 'Calibri';
        font-size:55px;
        color:#fff;
    }
    .offering{
        display:flex;
        flex-direction:row;
        align-items: center;;
        width:100%;
        height:300px;
        margin-top:-5%;
        justify-content: space-between;
    }
    .offering-1,.offering-2,.offering-3{
        width:200px;
        font-family: 'Calibri';
        font-size:17px;
        color:#fff;
        text-align: center;
    }
    .quotes .quote-1-upper .arrow-left, .quotes .quote-1-upper .arrow-right {
        display:none; }
}
@media only screen and (min-width:669x) and (max-width:736px){
    .quotes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 550px;
        background: #fff; }
        .quotes .large-text-4 {
          font-family: 'Calibri';
          font-size: 70px;
          opacity: .2;
          color: #9778a8;
          margin-left: -25%; }
        .quotes .people-say {
          color: #595959;
          font-family: 'Bahnschrift Light', 'Times New Roman';
          font-size: 35px; }
        .quotes .quote-1-upper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-around; }
          .quotes .quote-1-upper .quote-1 {
            width: 350px;
            height: 250px;
            margin-top: 2%;
            background: #f6f6f6; }
            .quotes .quote-1-upper .quote-1 .quote-1-inner-text {
              margin-left: 5%;
              font-family: 'Cambria', 'Calibri';
              font-style: italic;
              font-size: 30px;
              color: #000; }
          .quotes .quote-1-upper .arrow-left, .quotes .quote-1-upper .arrow-right {
            display:none; }
        .quotes .author {
          margin-top: 2%;
          width: 350px;
          margin-left: 10%; }
          .quotes .author .author-inner-text {
            font-family: 'Bahnschrift Light', 'Calibri';
            font-size: 25px;
            color: #000;
            width: 250px;
            margin-top: -11%;
            margin-left: 25%; }
}
@media only screen and (min-width:451px) and (max-width:668px){
    .start-now-inner{
        display:flex;
        flex-wrap: wrap;
        flex-direction:column;
        align-items: center;
        background-color:#9778a8;
    }
    .arrow1{
        margin-top:-3%;
        margin-left:45%;
       
    }
    .large-text-2{
        font-size:25px;
        color: #fff;
        font-family: 'Bell MT','Times New Roman';
    }
    .middle-text-2{
        margin-top:40px;
        font-size:20px;
        color: #fff;
        font-family: 'Calibri','Times New Roman';
    }
    .download-button-2:hover{
        cursor:pointer;
        background-color: #000;
    
    }
    .download-button-2-inner{
        margin-top:5%;
    }
     /*----------------------------------------------------------------*/
     .information{
        display:flex;
        flex-direction:row;
        align-items: center;;
        justify-content: space-between;
        width:100%;
        height:800px;
        background: #45b781;
    }
    .block-1,.block-2,.block-3,.block-4{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        height:300px;
        margin-top:10px;
    }
    .block-1-img,.block-2-img,.block-3-img,.block-4-img{
        margin-left:20%;
        margin-bottom: -10%;
        padding:-20%;
    }
    .block-1-text,.block-2-text,.block-3-text,.block-4-text{
        width:200px;
        font-family: 'Calibri';
        font-size:12px;
        color:#fff;;
        text-align: justify;
        padding:-20%;
    }
    /*-------------------------------------------------------------*/
    .white-line{
        width:100%;
        height: 50px;
        background:#fff;
    }
    .grey-line{
        width:100%;
        height: 300px;
        background:#f3f3f3;
    }
    .blue-block{
        display:flex;
        flex-direction:row;
        align-items: center;;
        justify-content: space-between;;
        width:100%;
        height: 380px;
        background:#6087b4;
    }
    .images{
        display:flex;
        flex-direction:row;
        width:100%;
        height: 400px;
        margin-top:-45%;
        
        justify-content: center;
    }
    .join{
        display:flex;
        flex-direction:row;
        align-items: center;;
        width:100%;
        margin-top:2%;
        justify-content: center;
        font-family: 'Bahnschrift Light', 'Calibri';
        font-size:55px;
        color:#fff;
    }
    .offering{
        display:flex;
        flex-direction:row;
        align-items: center;;
        width:100%;
        height:300px;
        margin-top:-5%;
        justify-content: space-between;
    }
    .offering-1,.offering-2,.offering-3{
        width:200px;
        font-family: 'Calibri';
        font-size:17px;
        color:#fff;
        text-align: center;
    }
    /*-------------------------------------------------------------------*/
    .quotes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 550px;
        background: #fff; }
        .quotes .large-text-4 {
          font-family: 'Calibri';
          font-size: 70px;
          opacity: .2;
          color: #9778a8;
          margin-left: -25%; }
        .quotes .people-say {
          color: #595959;
          font-family: 'Bahnschrift Light', 'Times New Roman';
          font-size: 35px; }
        .quotes .quote-1-upper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-around; }
          .quotes .quote-1-upper .quote-1 {
            width: 350px;
            height: 250px;
            margin-top: 2%;
            background: #f6f6f6; }
            .quotes .quote-1-upper .quote-1 .quote-1-inner-text {
              margin-left: 5%;
              font-family: 'Cambria', 'Calibri';
              font-style: italic;
              font-size: 30px;
              color: #000; }
          .quotes .quote-1-upper .arrow-left, .quotes .quote-1-upper .arrow-right {
            display:none; }
        .quotes .author {
          margin-top: 2%;
          width: 350px;
          margin-left: 10%; }
          .quotes .author .author-inner-text {
            font-family: 'Bahnschrift Light', 'Calibri';
            font-size: 25px;
            color: #000;
            width: 250px;
            margin-top: -11%;
            margin-left: 25%; }
            /*---------------------------------------------------*/
            .footer-block .footer-block-inner-1 .privacy {
                font-family: 'Cambria', 'Calibri';
                font-size: 15px;
                color: #fff;
            margin-top:-4%; }
              .footer-block .footer-block-inner-1 .copy {
                font-family: 'Calibri';
                font-size: 13px;
                color: #fff; }
}
@media only screen and (min-width:320px) and (max-width:450px){
    .content{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-items:flex-start;
        height: 400px;
    }
    .large_text{
        font-family: 'Arial Black', "Times New Roman";
        font-size:30px;
        color:#fff;
        margin-top:80px;
        margin-left:5%;
    }
    .content .button1{
        margin-top:120px;
        width:130px;
        height: 50px;
        margin-left:30%;
        text-align: center;
        background: #7ca5d9;
        color: #fff;
        font-family: 'Bahnschrift', 'Calibri';
        font-size:17px;
        border: none;
    }
    .content .inner-button{
        margin-top:10px;
    }
    .content a{
        text-decoration: none;
        color: #fff;
    }
    .content .button1:hover{
        cursor: pointer;
    }
    /*----------------------------------------------------------------------*/
    .start-now-inner{
        display:flex;
        flex-wrap: wrap;
        flex-direction:column;
        align-items: center;
        background-color:#9778a8;
    }
    .arrow1{
        margin-top:-3%;
        margin-left:42%;
       
    }
    .large-text-2{
        font-size:25px;
        color: #fff;
        font-family: 'Bell MT','Times New Roman';
    }
    .middle-text-2{
        margin-top:40px;
        font-size:20px;
        color: #fff;
        font-family: 'Calibri','Times New Roman';
    }
    .download-button-2{
        width:180px;
        height:40px;
        margin-top:50px;
        font-family:'Bell MT','Times New Roman';
        color: #fff;
        font-size:15px;
        border:3px solid #fff;
        border-top-left-radius: 50px 50px;
        border-bottom-left-radius: 50px 50px;
        border-top-right-radius: 50px 50px;
        border-bottom-right-radius: 50px 50px;
    }
    .download-button-2:hover{
        cursor:pointer;
        background-color: #000;
    
    }
    .download-button-2-inner{
        margin-top:5%;
    }
    /*-----------------------------------------------------------------*/
    .we-do{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        width:100%;
        height: 550px;
        justify-content: space-between;
        align-items: flex-start;
    }
    .first-part{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: space-around;
        margin-left:-13%;
    }
    .large-text-3{
        font-family:'Calibri';
        font-size:50px;
        opacity: .2;
        color:#9778a8;
        margin-left:-15%;
    }
    .middle-text-3{
        margin-top:-7%;
    }
    .what{
        color:#000;
        font-family:'Calibri';
        font-size:35px;
    }
    .we-do-2{
        color:#595959;
        font-family:'Bahnschrift Light', 'Times New Roman';
        font-size:30px;
    }
    .description{
        width:85%;
        margin-top:8%;
    }
    .description-first{
        font-family:'Calibri Regular', 'Calibri';
        font-size:25px;
        color:#000;
    }
    .description-second{
        font-family:'Calibri Regular', 'Calibri';
        font-size:22px;
        color:#595959;
    }
    .lear-more-button{
        width:200px;
        height:50px;
        border:2px solid #33c5f5;
        font-family:'Calibri','Times New Roman';
        font-size:25px;
        color:#000;
        margin-left:15%;
        margin-top:10%;
        border-top-left-radius: 50px 50px;
        border-bottom-left-radius: 50px 50px;
        border-top-right-radius: 50px 50px;
        border-bottom-right-radius: 50px 50px;
    }
    .lear-more-button:hover{
        cursor:pointer;
    }
    .lear-more-button a{
        text-decoration:none;
        color:#000;
    }
    .lear-more-button-inner{
        margin-left:13%;
        margin-top:4%;
    }
    .second-part{
       display:none;
    }
    /*----------------------------------------------------------------*/
    .information{
        display:flex;
        flex-direction:row;
        align-items: center;;
        justify-content: space-between;
        width:100%;
        height:1000px;
        margin-top:-10px;
        background: #45b781;
    }
    .block-1,.block-2,.block-3,.block-4{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        height:250px;
        margin-top:-50px;
        margin-left:10%;
    }
    .block-1-img,.block-2-img,.block-3-img,.block-4-img{
        margin-left:20%;
        margin-bottom: -10%;
    }
    .block-1-text,.block-2-text,.block-3-text,.block-4-text{
        width:250px;
        font-family: 'Calibri';
        font-size:12px;
        color:#fff;;
        text-align: justify;
    }
    /*-------------------------------------------------------------*/
    .white-line{
        width:100%;
        height: 50px;
        background:#fff;
    }
    .grey-line{
        width:100%;
        height: 300px;
        background:#f3f3f3;
    }
    .blue-block{
        display:flex;
        flex-direction:row;
        align-items: center;;
        justify-content: space-between;;
        width:100%;
        height: 580px;
        background:#6087b4;
    }
    .images{
        display:flex;
        flex-direction:row;
        width:32%;
        height: 400px;
        margin-top:-85%;
        
        justify-content: center;
    }
    .join{
        display:flex;
        flex-direction:row;
        align-items: center;;
        width:100%;
        margin-top:2%;
        justify-content: center;
        font-family: 'Bahnschrift Light', 'Calibri';
        font-size:55px;
        color:#fff;
    }
    .offering{
        display:flex;
        flex-direction:column;
        align-items: center;;
        width:100%;
        height:300px;
        margin-top:5%;
        justify-content: space-between;
    }
    .offering-1,.offering-2,.offering-3{
        width:250px;
        font-family: 'Calibri';
        font-size:20px;
        color:#fff;
        text-align: center;
    }
    /*----------------------------------------------------------------------*/
    .quotes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 550px;
        background: #fff; }
        .quotes .large-text-4 {
          font-family: 'Calibri';
          font-size: 70px;
          opacity: .2;
          color: #9778a8;
          margin-left: -25%; }
        .quotes .people-say {
          color: #595959;
          font-family: 'Bahnschrift Light', 'Times New Roman';
          font-size: 35px; }
        .quotes .quote-1-upper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-around; }
          .quotes .quote-1-upper .quote-1 {
            width: 350px;
            height: 250px;
            margin-top: 2%;
            background: #f6f6f6; }
            .quotes .quote-1-upper .quote-1 .quote-1-inner-text {
              margin-left: 5%;
              font-family: 'Cambria', 'Calibri';
              font-style: italic;
              font-size: 30px;
              color: #000; }
          .quotes .quote-1-upper .arrow-left, .quotes .quote-1-upper .arrow-right {
            display:none; }
        .quotes .author {
          margin-top: 2%;
          width: 350px;
          margin-left: 10%; }
          .quotes .author .author-inner-text {
            font-family: 'Bahnschrift Light', 'Calibri';
            font-size: 25px;
            color: #000;
            width: 250px;
            margin-top: -11%;
            margin-left: 25%; }
            /*----------------------------------------------------*/
            .footer-block {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;
                height: 200px;
                background: #202933; }
}